
    <div class="initial-loading-state">
      <div class="initial-load-animation">
        <div class="salesnav-image"></div>
        <div class="loading-bar">
          <div class="blue-bar"></div>
        </div>
      </div>
    </div>
    <div id="artdeco-modal-outlet"><artdeco-modal-overlay id="ember1097" class="ember-view">      <artdeco-modal role="dialog" tabindex="-1" aria-labelledby="extended-description-modal-header" size="552dp" data-artdeco-is-focused="true">
        <button class="artdeco-dismiss"><li-icon aria-hidden="true" type="cancel-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon><span class="a11y-text">Dismiss</span></button>
        <artdeco-modal-header id="ember1102" class="ember-view">      <h2 id="extended-description-modal-header">About MedXview Inc.</h2>

</artdeco-modal-header><artdeco-modal-content id="ember1107" class="ember-view">      <div class="topcard-extended-description-modal-content-padding">
          <p class="flex white-space-pre-wrap Sans-14px-black-90%">
            As Experts in Regulatory Affairs Systems and process development, MedXview has been recognized for technology leadership in eSubmission and Data Management initiatives worldwide. We are honored to be the first organization to deliver an all inclusive and fully integrated solution for Regulatory Affairs -eCentral™ for Document Management, Workflow (BPM), eCTD Submission Publishing and Management, CDISC Data Compliance, SPL and Knowledge Management. Our flexibility in delivering solutions and services ranges from solutions ownership, to project outsourcing, to a benefit-driven Software as a Service (SaaS) model that puts our team to work for you! As a truly unique service and technology provider, we form strong customer partnerships with our users and deliver unmatched benefits in efficiency and compliance.
          </p>
<!----><!----><!---->      </div>

</artdeco-modal-content><artdeco-modal-footer has-divider="true" id="ember1112" class="ember-view">      <button class="topcard-extended-description-modal-footer-button-right" data-ember-action="" data-ember-action-1113="1113">Ok</button>

</artdeco-modal-footer>
      </artdeco-modal>

</artdeco-modal-overlay></div>
    
    
<script src="https://static.licdn.com/sc/h/br/7c8ajcaifhq7quhzhmrwhcuy3"></script>
<script src="https://static.licdn.com/sc/h/br/a36dmpxtkacspe2jab5pl6qkb"></script>
<script src="https://static.licdn.com/sc/h/br/3tollxltbz5iuenvpgo5wtubj"></script>
<div id="ember-basic-dropdown-wormhole"></div>
<code style="display: none" id="bpr-guid-784547">
  {"primaryIdentity":"dXJuOmxpOm1lbWJlcjo1MzU5Njg5Njk"}
</code>
<code style="display: none" id="datalet-bpr-guid-784547">
  {"request":"/sales-api/salesApiPrimaryIdentity","status":200,"body":"bpr-guid-784547"}
</code>
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="datalet-bpr-guid-784547"><code style="display: none" id="bpr-guid-784548">
  {"statuses":{},"results":{"lss-ads-integration":{"value":"control"},"profile-decoration.fetch.sales.navigator.info.for.contract":{"value":"enable"},"lss-crm-dynamics":{"value":"enabled"},"lss-crm-sync-error-handling":{"value":"control"},"lss-crm-writeback-presentation-view":{"value":"control"},"lss-account-center":{"value":"control"}},"errors":{}}
</code>
<code style="display: none" id="datalet-bpr-guid-784548">
  {"request":"/sales-api/salesApiTreatment?ids\u003DList(lss-account-center,lss-ads-integration,lss-crm-dynamics,lss-crm-writeback-presentation-view,lss-crm-sync-error-handling,profile-decoration.fetch.sales.navigator.info.for.contract)","status":200,"body":"bpr-guid-784548"}
</code>
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="datalet-bpr-guid-784548"><code style="display: none" id="bpr-guid-784549">
  {"elements":[{"entityUrn":"urn:li:fs_salesTag:51047165","type":"LEAD_OR_ACCOUNT","value":"Customer"},{"entityUrn":"urn:li:fs_salesTag:51047185","type":"LEAD_OR_ACCOUNT","value":"Decision Maker"},{"entityUrn":"urn:li:fs_salesTag:51047145","type":"LEAD_OR_ACCOUNT","value":"Follow-up"},{"entityUrn":"urn:li:fs_salesTag:51047175","type":"LEAD_OR_ACCOUNT","value":"High Priority"},{"entityUrn":"urn:li:fs_salesTag:51047155","type":"LEAD_OR_ACCOUNT","value":"Influencer"},{"entityUrn":"urn:li:fs_salesTag:51047135","type":"LEAD_OR_ACCOUNT","value":"Opportunity"}],"paging":{"count":10,"start":0,"links":[]}}
</code>
<code style="display: none" id="datalet-bpr-guid-784549">
  {"request":"/sales-api/salesApiTags?q\u003DcurrentSeatHolder\u0026tagType\u003DLEAD_OR_ACCOUNT\u0026isActiveOnly\u003Dtrue","status":200,"body":"bpr-guid-784549"}
</code>
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="datalet-bpr-guid-784549"><code style="display: none" id="bpr-guid-784551">
  {"onboarded":true,"salesMailboxCount":0,"seatRoles":["LSS_ADMIN_SEAT","SALES_SEAT_TIER1"],"adminCrmSynced":false,"viewerSalesUrn":"urn:li:fs_sales:(535968969,591204405,159927905)","unreadMessagesCount":0,"unseenNotificationsCount":0,"viewerPrivacy":{"salesProfileViewingPrivacy":"HIDE"},"admin":true,"savedSearchesNewHitCount":0,"showAdminSettings":false,"memberResolutionResult":{"firstName":"Kate","lastName":"Korzhenko","objectUrn":"urn:li:member:535968969","entityUrn":"urn:li:fs_salesProfile:(ACwAAB_yPMkBAV_Jxr4kf6-3ZOy0ri1-OeMjK9I, , )","fullName":"Kate Korzhenko","profilePictureDisplayImage":{"artifacts":[{"width":100,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C4D03AQFUdaO35tx4-w/profile-displayphoto-shrink_100_100/0?e=1547683200&amp;v=beta&amp;t=Wx4C0gitEte9_KLhig3KPH-FSuoDnZpleBipg50-90k","height":100},{"width":200,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C4D03AQFUdaO35tx4-w/profile-displayphoto-shrink_200_200/0?e=1547683200&amp;v=beta&amp;t=eoOYn8AlahRNdeKpSIMG_-ENdIh2bS1kdrKtgpDCk-8","height":200},{"width":400,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C4D03AQFUdaO35tx4-w/profile-displayphoto-shrink_400_400/0?e=1547683200&amp;v=beta&amp;t=vpx344SJTnwnKEe_s1RK65PTvhHMBz_4qcCuAXg4qfE","height":400},{"width":800,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C4D03AQFUdaO35tx4-w/profile-displayphoto-shrink_800_800/0?e=1547683200&amp;v=beta&amp;t=80FJAqnW_5Bajjvt-F53HoFMuRD59ah9K7DWnIGuP5M","height":800}],"rootUrl":""},"pictureInfo":{},"headline":"Looking for JavaScript (React), PHP (Symfony) developer"},"adminOnly":false,"showUsageReporting":false,"seatSources":[],"linkedInMailboxCount":0,"member":"urn:li:fs_salesProfile:(ACwAAB_yPMkBAV_Jxr4kf6-3ZOy0ri1-OeMjK9I, , )","showSettings":true,"showDealbook":false,"baseMprUrl":"https://media.licdn.com/mpr/mpr","showSeatManagement":true}
</code>
<code style="display: none" id="datalet-bpr-guid-784551">
  {"request":"/sales-api/salesApiNavChrome?decoration\u003D%28baseMprUrl%2CviewerPrivacy%2CviewerSalesUrn%2Cadmin%2CadminOnly%2CadminCrmSynced%2CshowAdminSettings%2CshowDealbook%2CshowSeatManagement%2CshowSettings%2CshowUsageReporting%2CunreadMessagesCount%2CsalesMailboxCount%2ClinkedInMailboxCount%2CunseenNotificationsCount%2CsavedSearchesNewHitCount%2Conboarded%2Cmember~fs_salesProfile%28entityUrn%2CfirstName%2ClastName%2CfullName%2Cheadline%2CprofilePictureDisplayImage%2CpictureInfo%28croppedImage%29%2CobjectUrn%29%2CseatSources*%2CseatRoles*%2CepAccountId%2CepApplicationInstanceId%29","status":200,"body":"bpr-guid-784551"}
</code>
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="datalet-bpr-guid-784551"><code style="display: none" id="bpr-guid-784553">
  {"metadata":{"spotlightCounts":{"MENTIONED_IN_THE_NEWS":0,"ALL":1,"RECENTLY_POSTED_ON_LINKEDIN":0,"TEAMLINK_INTRO":0,"COMPANY_FOLLOW":0,"RECENT_POSITION_CHANGE":0,"COMMONALITIES":0}},"elements":[{"profileUrnResolutionResult":{"firstName":"Joktan","lastName":"Davis","defaultPosition":{"posId":173000732,"current":true,"companyName":"MedXview Inc.","title":"Sr. Software Engineer","companyUrn":"urn:li:fs_salesCompany:937548"},"objectUrn":"urn:li:member:109977241","entityUrn":"urn:li:fs_salesProfile:(ACwAAAaOHpkB21ms4Y9XM8ZuVSZa-ZBZmoE5sF0,NAME_SEARCH,OmNg)","degree":-1,"fullName":"Joktan Davis","location":"Beijing City, China","industry":"Computer Software","positions":[{"posId":173000732,"current":true,"companyName":"MedXview Inc.","title":"Sr. Software Engineer","companyUrn":"urn:li:fs_salesCompany:937548"}],"pictureInfo":{},"savedLead":false},"profileUrn":"urn:li:fs_salesProfile:(ACwAAAaOHpkB21ms4Y9XM8ZuVSZa-ZBZmoE5sF0,NAME_SEARCH,OmNg)","trackingId":"1±[íÊOz]r®ß("}],"paging":{"count":11,"start":0,"links":[]}}
</code>
<code style="display: none" id="datalet-bpr-guid-784553">
  {"request":"/sales-api/salesApiRecommendedLeads?decoration\u003D%28trackingId%2Chighlight%28com.linkedin.sales.profile.profileHighlights.MentionedInTheNewsHighlight!_nt%3Dcom.linkedin.sales.deco.common.profile.highlights.DecoratedMentionedInTheNewsHighlight%28articleName%2Ccount%2Csource%2Curl%29%2Ccom.linkedin.sales.profile.profileHighlights.ProfileHighlights!_nt%3Dcom.linkedin.sales.deco.common.profile.highlights.DecoratedProfileHighlights%28sharedConnection%28sharedConnectionUrns*~fs_salesProfile%28entityUrn%2CfirstName%2ClastName%2CfullName%2CpictureInfo%2CprofilePictureDisplayImage%29%29%2CteamlinkInfo%28totalCount%29%2CsharedEducations*%28overlapInfo%2CentityUrn~fs_salesSchool%28entityUrn%2ClogoId%2Cname%2Curl%2CschoolPictureDisplayImage%29%29%2CsharedExperiences*%28overlapInfo%2CentityUrn~fs_salesCompany%28companyPictureDisplayImage%2CentityUrn%2Cname%2CpictureInfo%29%29%2CsharedGroups*%28entityUrn~fs_salesGroup%28entityUrn%2Cname%2ClargeLogoId%2CsmallLogoId%2CgroupPictureDisplayImage%29%29%29%2Ccom.linkedin.sales.profile.profileHighlights.RecentPositionChangeHighlight!_nt%3Dcom.linkedin.sales.deco.common.profile.highlights.DecoratedRecentPositionChangeHighlight%28companyUrn%2CcompanyName%2Cduration%2Ctitle%29%29%2CprofileUrn~fs_salesProfile%28entityUrn%2CobjectUrn%2CfirstName%2ClastName%2CfullName%2CpictureInfo%2CprofilePictureDisplayImage%2Clocation%2Cindustry%2Cdegree%2CsavedLead%2CdefaultPosition%2Cpositions*%29%29\u0026companyId\u003D937548\u0026count\u003D11\u0026includeSpotlightCounts\u003Dtrue\u0026q\u003Dcompany\u0026spotlightType\u003DALL\u0026start\u003D0","status":200,"body":"bpr-guid-784553"}
</code>
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="datalet-bpr-guid-784553"><code style="display: none" id="bpr-guid-784559">
  {"website":"www.MedXview.com","employeesResolutionResults":{"urn:li:fs_salesProfile:(ACwAAAEwsjkBFvfTm4d7XlsI2DVzjPicmFIQJXw, , )":{"entityUrn":"urn:li:fs_salesProfile:(ACwAAAEwsjkBFvfTm4d7XlsI2DVzjPicmFIQJXw,OUT_OF_NETWORK,fckq)","fullName":"","pictureInfo":{}},"urn:li:fs_salesProfile:(ACwAAA25J40B174wGYqjdNdXFJ9hUl7-sc8i1Y0, , )":{"firstName":"Hubert","lastName":"Chiu","entityUrn":"urn:li:fs_salesProfile:(ACwAAA25J40B174wGYqjdNdXFJ9hUl7-sc8i1Y0,NAME_SEARCH,Ext3)","fullName":"Hubert Chiu","profilePictureDisplayImage":{"artifacts":[{"width":100,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C5603AQHB8ZMqg_W27w/profile-displayphoto-shrink_100_100/0?e=1547683200&amp;v=beta&amp;t=lHOOJzUFIPVhul95i2d0x65h0BCFYLDREGo9iHqENS4","height":100},{"width":200,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C5603AQHB8ZMqg_W27w/profile-displayphoto-shrink_200_200/0?e=1547683200&amp;v=beta&amp;t=_6Dy9V6Mj_vAB7YocxdqMvYf0vDuf-haO9THsCc4nIk","height":200},{"width":400,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C5603AQHB8ZMqg_W27w/profile-displayphoto-shrink_400_400/0?e=1547683200&amp;v=beta&amp;t=e50YuvqYaas0PPljVPXGVxx1dqHi-OTQ-MfpjNjo1F0","height":400},{"width":800,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C5603AQHB8ZMqg_W27w/profile-displayphoto-shrink_800_800/0?e=1547683200&amp;v=beta&amp;t=YOc_DgnZymkcKjXxSnhE8Rs93FFzHl5hY3nUm8_sFHA","height":800}],"rootUrl":""},"pictureInfo":{}},"urn:li:fs_salesProfile:(ACwAAAHht1UB9KTE1r1Zr8x3OchXIvLQjVAtwYE, , )":{"entityUrn":"urn:li:fs_salesProfile:(ACwAAAHht1UB9KTE1r1Zr8x3OchXIvLQjVAtwYE,OUT_OF_NETWORK,Fi44)","fullName":"","pictureInfo":{}},"urn:li:fs_salesProfile:(ACwAAAcGsukBDYaElF4VRT_pcMBsRBobTtlJWaA, , )":{"entityUrn":"urn:li:fs_salesProfile:(ACwAAAcGsukBDYaElF4VRT_pcMBsRBobTtlJWaA,OUT_OF_NETWORK,pCy7)","fullName":"","pictureInfo":{}},"urn:li:fs_salesProfile:(ACwAAAFETpUB4DvRufShQSVHGjb4cl28cmWEYCI, , )":{"firstName":"Shawn","lastName":"Wang","entityUrn":"urn:li:fs_salesProfile:(ACwAAAFETpUB4DvRufShQSVHGjb4cl28cmWEYCI,NAME_SEARCH,9ySb)","fullName":"Shawn Wang","profilePictureDisplayImage":{"artifacts":[{"width":100,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C5603AQHSbi416P2S3w/profile-displayphoto-shrink_100_100/0?e=1547683200&amp;v=beta&amp;t=gLZ1eRClOlE0jtbW97IRlbhTgrJtsWP36Fp1wlDMaSY","height":100},{"width":200,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C5603AQHSbi416P2S3w/profile-displayphoto-shrink_200_200/0?e=1547683200&amp;v=beta&amp;t=pjMqJTNjwpauQ80LUyoOkJmOeR2qg7YJG3S9kqqxmvI","height":200},{"width":400,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C5603AQHSbi416P2S3w/profile-displayphoto-shrink_400_400/0?e=1547683200&amp;v=beta&amp;t=z6BHSjpsArZSELvbmxeGz_4QL6qVQiQh4yBXtVzsqik","height":400},{"width":800,"fileIdentifyingUrlPathSegment":"https://media.licdn.com/dms/image/C5603AQHSbi416P2S3w/profile-displayphoto-shrink_800_800/0?e=1547683200&amp;v=beta&amp;t=x4KsbdAYqNc0Yt_pbykTXEXq9SG6ozuMs1gQzVVOq0o","height":800}],"rootUrl":""},"pictureInfo":{}},"urn:li:fs_salesProfile:(ACwAABJjzhkBwQbH0rwZnnPiha1TbHhtYpa8Jbo, , )":{"entityUrn":"urn:li:fs_salesProfile:(ACwAABJjzhkBwQbH0rwZnnPiha1TbHhtYpa8Jbo,OUT_OF_NETWORK,_ZUu)","fullName":"","pictureInfo":{}},"urn:li:fs_salesProfile:(ACwAAAaOHpkB21ms4Y9XM8ZuVSZa-ZBZmoE5sF0, , )":{"entityUrn":"urn:li:fs_salesProfile:(ACwAAAaOHpkB21ms4Y9XM8ZuVSZa-ZBZmoE5sF0,OUT_OF_NETWORK,kiLp)","fullName":"","pictureInfo":{}}},"description":"As Experts in Regulatory Affairs Systems and process development, MedXview has been recognized for technology leadership in eSubmission and Data Management initiatives worldwide. We are honored to be the first organization to deliver an all inclusive and fully integrated solution for Regulatory Affairs -eCentral™ for Document Management, Workflow (BPM), eCTD Submission Publishing and Management, CDISC Data Compliance, SPL and Knowledge Management. Our flexibility in delivering solutions and services ranges from solutions ownership, to project outsourcing, to a benefit-driven Software as a Service (SaaS) model that puts our team to work for you! As a truly unique service and technology provider, we form strong customer partnerships with our users and deliver unmatched benefits in efficiency and compliance.","companyPictureDisplayImage":{"artifacts":[{"width":200,"fileIdentifyingUrlPathSegment":"200_200/0?e=1550102400&amp;v=beta&amp;t=PEqGgcfOjZEs_NBs-mdEGZpnpJqps3GMQLoBAoAC1NE","height":200},{"width":100,"fileIdentifyingUrlPathSegment":"100_100/0?e=1550102400&amp;v=beta&amp;t=9vpBeoj2CDSu8Q4fh2nmYt7zOpa4Ryfg-Xa2DECyM44","height":100},{"width":400,"fileIdentifyingUrlPathSegment":"400_400/0?e=1550102400&amp;v=beta&amp;t=3abzMyJDnYd5Ehjzfr16qrbHu-8xk1x36A2w3O2B698","height":400}],"rootUrl":"https://media.licdn.com/dms/image/C4E0BAQH25nx4ugnF0g/company-logo_"},"industry":"Computer Software","pictureInfo":{"logo":"/AAMAAQQIAAkAAQAAAAAAABC0AAAAJDM2ODM2OGViLTQwZTYtNGFmOS05ZmM4LWI5YTU0ZjJkOGZlNA.bin"},"employeeCount":7,"employeeCountRange":"11-50","headquarters":{"country":"United States","postalCode":"02138"},"flagshipCompanyUrl":"https://www.linkedin.com/company/medxview-inc./","entityUrn":"urn:li:fs_salesCompany:937548","name":"MedXview Inc.","location":"Greater Boston Area","employees":["urn:li:fs_salesProfile:(ACwAAA25J40B174wGYqjdNdXFJ9hUl7-sc8i1Y0, , )","urn:li:fs_salesProfile:(ACwAAAFETpUB4DvRufShQSVHGjb4cl28cmWEYCI, , )","urn:li:fs_salesProfile:(ACwAABJjzhkBwQbH0rwZnnPiha1TbHhtYpa8Jbo, , )","urn:li:fs_salesProfile:(ACwAAAEwsjkBFvfTm4d7XlsI2DVzjPicmFIQJXw, , )","urn:li:fs_salesProfile:(ACwAAAcGsukBDYaElF4VRT_pcMBsRBobTtlJWaA, , )","urn:li:fs_salesProfile:(ACwAAAHht1UB9KTE1r1Zr8x3OchXIvLQjVAtwYE, , )","urn:li:fs_salesProfile:(ACwAAAaOHpkB21ms4Y9XM8ZuVSZa-ZBZmoE5sF0, , )"],"employeesSearchPageUrl":"https://www.linkedin.com/sales/search?pivotType=EMPLOYEE&amp;pivotId=937548"}
</code>
<code style="display: none" id="datalet-bpr-guid-784559">
  {"request":"/sales-api/salesApiCompanies/937548?decoration\u003D%28entityUrn%2Cname%2Caccount%28saved%2CbizProspectUrn%2Ctags*~%28entityUrn%2Ctype%2Cvalue%29%2CnoteCount%2ClistCount%2CcrmStatus%29%2CpictureInfo%2CcompanyPictureDisplayImage%2Cdescription%2Cindustry%2CemployeeCount%2CemployeeCountRange%2Clocation%2Cheadquarters%2Cwebsite%2Crevenue%2CformattedRevenue%2CemployeesSearchPageUrl%2CflagshipCompanyUrl%2Cemployees*~fs_salesProfile%28entityUrn%2CfirstName%2ClastName%2CfullName%2CpictureInfo%2CprofilePictureDisplayImage%29%29","status":200,"body":"bpr-guid-784559"}
</code>
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="datalet-bpr-guid-784559"><code style="display: none" id="clientPageInstance">
  urn:li:page:d_sales2_company_people;9E6GetniT9KT/he49cKpyw==
</code>

<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="terminatorlet">

  

<div id="ember629" class="ember-view"><!---->
    <header id="ember684" class="global-nav global-nav-v2 ember-view">







<div class="navbar-main">
  <div class="container">


    <h1 class="brand">
      <a href="/sales?trk=d_sales2_nav_snlogo">
<linkedin-logo size="28dp" id="ember697" class="ember-view"><li-icon aria-hidden="true" type="linkedin-bug" class="logo-lockup-inverse" size="28dp" color="inverse"><svg preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="scaling-icon" style="fill-opacity: 1">
        <defs>
        </defs>
        <g class="bug-14dp" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g class="dp-1">
            <path d="M14,1.25 L14,12.75 C14,13.44 13.44,14 12.75,14 L1.25,14 C0.56,14 0,13.44 0,12.75 L0,1.25 C0,0.56 0.56,0 1.25,0 L12.75,0 C13.44,0 14,0.56 14,1.25" class="bug-text-color" fill="#FFFFFF"></path>
            <path d="M14,1.25 L14,12.75 C14,13.44 13.44,14 12.75,14 L1.25,14 C0.56,14 0,13.44 0,12.75 L0,1.25 C0,0.56 0.56,0 1.25,0 L12.75,0 C13.44,0 14,0.56 14,1.25 Z M5,5 L6.85,5 L6.85,6.016 L6.893,6.016 C7.259,5.541 8.018,4.938 9.25,4.938 C11.125,4.938 12,5.808 12,8 L12,12 L10,12 L10,8.75 C10,7.313 9.672,6.875 8.632,6.875 C7.5,6.875 7,7.75 7,9 L7,12 L5,12 L5,5 Z M2,12 L4,12 L4,5 L2,5 L2,12 Z M4.335,3 C4.335,3.737 3.737,4.335 3,4.335 C2.263,4.335 1.665,3.737 1.665,3 C1.665,2.263 2.263,1.665 3,1.665 C3.737,1.665 4.335,2.263 4.335,3 Z" class="background" fill="#0073B2"></path>
          </g>
          <g class="dpi-gt1" transform="scale(0.2917)">
            <rect class="bug-text-color" fill="#FFFFFF" x="1" y="1" width="46" height="46" rx="4"></rect>
            <path d="M0,4.00989318 C0,1.79529033 1.79405245,0 4.00989318,0 L43.9901068,0 C46.2047097,0 48,1.79405245 48,4.00989318 L48,43.9901068 C48,46.2047097 46.2059475,48 43.9901068,48 L4.00989318,48 C1.79529033,48 0,46.2059475 0,43.9901068 L0,4.00989318 Z M19,18.3 L25.5,18.3 L25.5,21.566 C26.437,19.688 28.838,18 32.445,18 C39.359,18 41,21.738 41,28.597 L41,41.3 L34,41.3 L34,30.159 C34,26.253 33.063,24.05 30.68,24.05 C27.375,24.05 26,26.425 26,30.159 L26,41.3 L19,41.3 L19,18.3 Z M7,41 L14,41 L14,18 L7,18 L7,41 Z M15,10.5 C15,12.985 12.985,15 10.5,15 C8.015,15 6,12.985 6,10.5 C6,8.015 8.015,6 10.5,6 C12.985,6 15,8.015 15,10.5 Z" class="background" fill="#0077B5"></path>
          </g>
        </g>
        <g class="bug-21dp" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g class="dp-1">
            <path d="M19.479,0 L1.583,0 C0.728,0 0,0.677 0,1.511 L0,19.488 C0,20.323 0.478,21 1.333,21 L19.229,21 C20.086,21 21,20.323 21,19.488 L21,1.511 C21,0.677 20.336,0 19.479,0" class="bug-text-color" fill="#FFFFFF"></path>
            <path d="M19.479,0 L1.583,0 C0.728,0 0,0.677 0,1.511 L0,19.488 C0,20.323 0.478,21 1.333,21 L19.229,21 C20.086,21 21,20.323 21,19.488 L21,1.511 C21,0.677 20.336,0 19.479,0 Z M8,8 L10.827,8 L10.827,9.441 L10.858,9.441 C11.289,8.664 12.562,7.875 14.136,7.875 C17.157,7.875 18,9.479 18,12.45 L18,18 L15,18 L15,12.997 C15,11.667 14.469,10.5 13.227,10.5 C11.719,10.5 11,11.521 11,13.197 L11,18 L8,18 L8,8 Z M3,18 L6,18 L6,8 L3,8 L3,18 Z M6.375,4.5 C6.375,5.536 5.536,6.375 4.5,6.375 C3.464,6.375 2.625,5.536 2.625,4.5 C2.625,3.464 3.464,2.625 4.5,2.625 C5.536,2.625 6.375,3.464 6.375,4.5 Z" class="background" fill="#0077B5"></path>
          </g>
          <g class="dpi-gt1" transform="scale(0.4375)">
            <rect class="bug-text-color" fill="#FFFFFF" x="1" y="1" width="46" height="46" rx="4"></rect>
            <path d="M0,4.00989318 C0,1.79529033 1.79405245,0 4.00989318,0 L43.9901068,0 C46.2047097,0 48,1.79405245 48,4.00989318 L48,43.9901068 C48,46.2047097 46.2059475,48 43.9901068,48 L4.00989318,48 C1.79529033,48 0,46.2059475 0,43.9901068 L0,4.00989318 Z M19,18.3 L25.5,18.3 L25.5,21.566 C26.437,19.688 28.838,18 32.445,18 C39.359,18 41,21.738 41,28.597 L41,41.3 L34,41.3 L34,30.159 C34,26.253 33.063,24.05 30.68,24.05 C27.375,24.05 26,26.425 26,30.159 L26,41.3 L19,41.3 L19,18.3 Z M7,41 L14,41 L14,18 L7,18 L7,41 Z M15,10.5 C15,12.985 12.985,15 10.5,15 C8.015,15 6,12.985 6,10.5 C6,8.015 8.015,6 10.5,6 C12.985,6 15,8.015 15,10.5 Z" class="background" fill="#0077B5"></path>
          </g>
        </g>
        <g class="bug-28dp" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g class="dp-1">
            <path d="M25.375,0 L2.625,0 C1.175,0 0,1.175 0,2.625 L0,25.375 C0,26.825 1.175,28 2.625,28 L25.375,28 C26.825,28 28,26.825 28,25.375 L28,2.625 C28,1.175 26.825,0 25.375,0" class="bug-text-color" fill="#FFFFFF"></path>
            <path d="M25.375,0 L2.625,0 C1.175,0 0,1.175 0,2.625 L0,25.375 C0,26.825 1.175,28 2.625,28 L25.375,28 C26.825,28 28,26.825 28,25.375 L28,2.625 C28,1.175 26.825,0 25.375,0 Z M14.8747,12.025 L14.8747,10 L10.9997,10 L10.9997,24 L14.9997,24 L14.9997,17.375 C14.9997,15.603 15.6627,13.875 17.6497,13.875 C19.4667,13.875 19.9997,14.965 19.9997,16.875 L19.9997,24 L23.9997,24 L23.9997,14.975 C23.9997,11.75 22.2917,9.875 19.0137,9.875 C16.9227,9.875 15.4487,11.025 14.8747,12.025 Z M4,24 L8,24 L8,10 L4,10 L4,24 Z M6,3.665 C4.71,3.665 3.665,4.71 3.665,6 C3.665,7.29 4.71,8.335 6,8.335 C7.29,8.335 8.335,7.29 8.335,6 C8.335,4.71 7.29,3.665 6,3.665 Z" class="background" fill="#0077B5"></path>
          </g>
          <g class="dpi-gt1" transform="scale(0.5833)">
            <rect class="bug-text-color" fill="#FFFFFF" x="1" y="1" width="46" height="46" rx="4"></rect>
            <path d="M0,4.00989318 C0,1.79529033 1.79405245,0 4.00989318,0 L43.9901068,0 C46.2047097,0 48,1.79405245 48,4.00989318 L48,43.9901068 C48,46.2047097 46.2059475,48 43.9901068,48 L4.00989318,48 C1.79529033,48 0,46.2059475 0,43.9901068 L0,4.00989318 Z M19,18.3 L25.5,18.3 L25.5,21.566 C26.437,19.688 28.838,18 32.445,18 C39.359,18 41,21.738 41,28.597 L41,41.3 L34,41.3 L34,30.159 C34,26.253 33.063,24.05 30.68,24.05 C27.375,24.05 26,26.425 26,30.159 L26,41.3 L19,41.3 L19,18.3 Z M7,41 L14,41 L14,18 L7,18 L7,41 Z M15,10.5 C15,12.985 12.985,15 10.5,15 C8.015,15 6,12.985 6,10.5 C6,8.015 8.015,6 10.5,6 C12.985,6 15,8.015 15,10.5 Z" class="background" fill="#0077B5"></path>
          </g>
        </g>
        <g class="bug-34dp" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g class="dp-1">
            <path d="M2.8,34 L31.2,34 C32.746,34 34,32.746 34,31.2 L34,2.8 C34,1.254 32.746,0 31.2,0 L2.8,0 C1.254,0 0,1.254 0,2.8 L0,31.2 C0,32.746 1.254,34 2.8,34" class="bug-text-color" fill="#FFFFFF"></path>
            <path d="M2.8,34 L31.2,34 C32.746,34 34,32.746 34,31.2 L34,2.8 C34,1.254 32.746,0 31.2,0 L2.8,0 C1.254,0 0,1.254 0,2.8 L0,31.2 C0,32.746 1.254,34 2.8,34 Z M13,13 L17.75,13 L17.75,15.391 C18.387,14.114 20.242,12.75 22.695,12.75 C27.397,12.75 29,14.875 29,19.922 L29,29 L24,29 L24,20.984 C24,18.328 23.481,16.875 21.542,16.875 C18.921,16.875 18,18.867 18,20.984 L18,29 L13,29 L13,13 Z M5,29 L10,29 L10,13 L5,13 L5,29 Z M10.55,7.5 C10.55,9.184 9.184,10.55 7.5,10.55 C5.816,10.55 4.45,9.184 4.45,7.5 C4.45,5.815 5.816,4.45 7.5,4.45 C9.184,4.45 10.55,5.815 10.55,7.5 Z" class="background" fill="#0077B5"></path>
          </g>
          <g class="dpi-gt1" transform="scale(0.7083)">
            <rect class="bug-text-color" fill="#FFFFFF" x="1" y="1" width="46" height="46" rx="4"></rect>
            <path d="M0,4.00989318 C0,1.79529033 1.79405245,0 4.00989318,0 L43.9901068,0 C46.2047097,0 48,1.79405245 48,4.00989318 L48,43.9901068 C48,46.2047097 46.2059475,48 43.9901068,48 L4.00989318,48 C1.79529033,48 0,46.2059475 0,43.9901068 L0,4.00989318 Z M19,18.3 L25.5,18.3 L25.5,21.566 C26.437,19.688 28.838,18 32.445,18 C39.359,18 41,21.738 41,28.597 L41,41.3 L34,41.3 L34,30.159 C34,26.253 33.063,24.05 30.68,24.05 C27.375,24.05 26,26.425 26,30.159 L26,41.3 L19,41.3 L19,18.3 Z M7,41 L14,41 L14,18 L7,18 L7,41 Z M15,10.5 C15,12.985 12.985,15 10.5,15 C8.015,15 6,12.985 6,10.5 C6,8.015 8.015,6 10.5,6 C12.985,6 15,8.015 15,10.5 Z" class="background" fill="#0077B5"></path>
          </g>
        </g>
        <g class="bug-40dp" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g class="dp-1">
            <path d="M40,3.5 L40,36.5 C40,38.434 38.434,40 36.5,40 L3.5,40 C1.566,40 0,38.434 0,36.5 L0,3.5 C0,1.566 1.566,0 3.5,0 L36.5,0 C38.434,0 40,1.566 40,3.5 L40,3.5 Z" class="bug-text-color" fill="#FFFFFF"></path>
            <path d="M40,3.5 L40,36.5 C40,38.434 38.434,40 36.5,40 L3.5,40 C1.566,40 0,38.434 0,36.5 L0,3.5 C0,1.566 1.566,0 3.5,0 L36.5,0 C38.434,0 40,1.566 40,3.5 Z M15,15.0000122 L20.875,15.0000122 L20.875,18.3330122 C21.542,17.1460122 23,14.7000122 26.957,14.7000122 C33.137,14.7000122 34,18.6800122 34,23.9670122 L34,34.0000122 L28,34.0000122 L28,25.0180122 C28,22.1830122 27.542,19.8750122 24.922,19.8750122 C21.75,19.8750122 21,21.9560122 21,24.5160122 L21,34.0000122 L15,34.0000122 L15,15.0000122 Z M6,34 L12,34 L12,15 L6,15 L6,34 Z M12.6509756,8.99997559 C12.6509756,11.0159756 11.0169756,12.6499756 9.00097559,12.6499756 C6.98397559,12.6499756 5.34997559,11.0159756 5.34997559,8.99997559 C5.34997559,6.98397559 6.98397559,5.34997559 9.00097559,5.34997559 C11.0169756,5.34997559 12.6509756,6.98397559 12.6509756,8.99997559 Z" class="background" fill="#0077B5"></path>
          </g>
          <g class="dpi-gt1" transform="scale(0.8333)">
            <rect class="bug-text-color" fill="#FFFFFF" x="1" y="1" width="46" height="46" rx="4"></rect>
            <path d="M0,4.00989318 C0,1.79529033 1.79405245,0 4.00989318,0 L43.9901068,0 C46.2047097,0 48,1.79405245 48,4.00989318 L48,43.9901068 C48,46.2047097 46.2059475,48 43.9901068,48 L4.00989318,48 C1.79529033,48 0,46.2059475 0,43.9901068 L0,4.00989318 Z M19,18.3 L25.5,18.3 L25.5,21.566 C26.437,19.688 28.838,18 32.445,18 C39.359,18 41,21.738 41,28.597 L41,41.3 L34,41.3 L34,30.159 C34,26.253 33.063,24.05 30.68,24.05 C27.375,24.05 26,26.425 26,30.159 L26,41.3 L19,41.3 L19,18.3 Z M7,41 L14,41 L14,18 L7,18 L7,41 Z M15,10.5 C15,12.985 12.985,15 10.5,15 C8.015,15 6,12.985 6,10.5 C6,8.015 8.015,6 10.5,6 C12.985,6 15,8.015 15,10.5 Z" class="background" fill="#0077B5"></path>
          </g>
        </g>
        <g class="bug-48dp" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect class="bug-text-color" fill="#FFFFFF" x="1" y="1" width="46" height="46" rx="4"></rect>
          <path d="M0,4.00989318 C0,1.79529033 1.79405245,0 4.00989318,0 L43.9901068,0 C46.2047097,0 48,1.79405245 48,4.00989318 L48,43.9901068 C48,46.2047097 46.2059475,48 43.9901068,48 L4.00989318,48 C1.79529033,48 0,46.2059475 0,43.9901068 L0,4.00989318 Z M19,18.3 L25.5,18.3 L25.5,21.566 C26.437,19.688 28.838,18 32.445,18 C39.359,18 41,21.738 41,28.597 L41,41.3 L34,41.3 L34,30.159 C34,26.253 33.063,24.05 30.68,24.05 C27.375,24.05 26,26.425 26,30.159 L26,41.3 L19,41.3 L19,18.3 Z M7,41 L14,41 L14,18 L7,18 L7,41 Z M15,10.5 C15,12.985 12.985,15 10.5,15 C8.015,15 6,12.985 6,10.5 C6,8.015 8.015,6 10.5,6 C12.985,6 15,8.015 15,10.5 Z" class="background" fill="#0077B5"></path>
        </g>
      </g>
    </svg></li-icon>
<span class="logo-text logo-lockup-inverse">          Sales Navigator 
</span></linkedin-logo>      </a>
    </h1>


    <nav class="nav-main">
        <ul>
          <li class="nav-item nav-item-home">
            <a href="/sales/?trk=d_sales2_nav_home" class="nav-item__text">
              Home
            </a>
          </li>
<!---->          <li class="nav-item nav-item-lists">
            <h2 tabindex="0" class="nav-item__text">
              Lists
            </h2>
            <div class="dropdown-menu nav-item__dropdown-menu">
              <ul class="list-menu">
                <li>
<a href="/sales/search/people/list/my-network?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D" id="ember706" class="ember-view">                      My network
</a>                </li>
                <li class="list-menu__profile-item">
<a href="/sales/search/people/list/saved-leads?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D" id="ember742" class="ember-view">                      Saved leads
</a>                </li>
                <li class="list-menu__account-item">
<a href="/sales/search/company/list/saved-accounts?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D" id="ember743" class="ember-view">                      Saved accounts
</a>                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-item-discover">
            <h2 tabindex="0" class="nav-item__text">
              Discover
            </h2>
            <div class="dropdown-menu nav-item__dropdown-menu">
              <ul>
                <li>
<a href="/sales/search/people/list/recommended-leads?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D" id="ember759" class="ember-view">                      Recommended leads
</a>                </li>
                <li>
<a href="/sales/search/company/list/recommended-accounts?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D" id="ember760" class="ember-view">                      Recommended accounts
</a>                </li>
                <li>
                  <a href="/sales/settings?trk=d_sales2_nav_discover">
                    Edit your sales preferences
                  </a>
                </li>
              </ul>
            </div>
          </li>
<!---->        </ul>
    </nav>


    <nav class="utility-navs">
      <ul>
          <li class="nav-item nav-item-inbox">
<a href="/sales/inbox?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D&amp;trk=d_sales2_nav_inbox" id="ember763" class="nav-item__text type--icon ember-view">              <li-icon type="messages-icon" class="nav-item__icon" role="img" aria-label="Inbox"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21,8H8A1,1,0,0,0,7,9V19a1,1,0,0,0,1,1H18l4,3V9A1,1,0,0,0,21,8ZM20,19.11L18.52,18H9V10H20v9.11ZM12,15h5v1H12V15ZM4,13H5v2H3a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3H16a1,1,0,0,1,1,1V6H15V5H4v8Zm14,0H11V12h7v1Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>
<!----></a>            <div class="dropdown nav-item__dropdown">
              <ul>
                <li>
<a href="/sales/inbox?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D&amp;trk=d_sales2_nav_inbox" id="ember778" class="active ember-view">                    Sales Navigator Inbox
<!----></a>                </li>
                <li>
                  <a href="/messaging?trk=d_sales2_nav_inbox" target="_blank" rel="noopener noreferrer">
                    LinkedIn Inbox
<!---->                  </a>
                </li>
              </ul>
            </div>
          </li>
<!---->        <li class="nav-item nav-item-user">
          <h2 class="nav-item__text type--entity">
            <span class="a11y-text">
              Kate Korzhenko
            </span>
            <img src="https://media.licdn.com/dms/image/C4D03AQFUdaO35tx4-w/profile-displayphoto-shrink_800_800/0?e=1547683200&amp;v=beta&amp;t=80FJAqnW_5Bajjvt-F53HoFMuRD59ah9K7DWnIGuP5M" class="entity-person" alt="">
<!---->            <div id="profile-visibility-settings-wormhole"></div>
          </h2>
          <div class="dropdown nav-item__dropdown">
              <h3>
                Account
              </h3>
              <ul role="navigation" class="utility-nav-items">
                  <li class="settings">
                    <a href="/sales/settings?trk=d_sales2_nav_account">
                      Settings
                    </a>
                  </li>
                <li class="user-agreement">
                  <a href="/legal/user-agreement?trk=d_sales2_nav_account" target="_blank" rel="noopener noreferrer">
                    User agreement
                  </a>
                </li>
                <li class="privacy-policy">
                  <a href="/legal/privacy-policy?trk=d_sales2_nav_account" target="_blank" rel="noopener noreferrer">
                    Privacy policy
                  </a>
                </li>
                <li class="cookie-policy">
                  <a href="/legal/cookie-policy?trk=d_sales2_nav_account" target="_blank" rel="noopener noreferrer">
                    Cookie policy
                  </a>
                </li>
              </ul>
              <h3>
                Help
              </h3>
              <ul>
                <li class="learning-center">
                  <a href="/sales/training?trk=d_sales2_nav_account" target="_blank" rel="noopener noreferrer">
                    Learning Center
                  </a>
                </li>
                <li class="help-center">
                  <a href="/help/sales-navigator?trk=d_sales2_nav_account" target="_blank" rel="noopener noreferrer">
                    Help Center
                  </a>
                </li>
              </ul>
              <hr>
              <h3 class="a11y-text">
                Other
              </h3>
              <ul>
                <li class="user">
                  <a href="/sales/logout?trk=d_sales2_nav_account">
                    Sign out
                  </a>
                </li>
              </ul>
          </div>
        </li>
        <hr class="nav-divider">
<!---->        <li class="nav-item nav-item-app-switcher">
          <h2 title="More products" class="nav-item__text type--icon">
            <li-icon type="grid-icon" class="nav-item__icon" role="img" aria-label="More products"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M10,10h4v4H10V10Zm0,11h4V17H10v4ZM3,14H7V10H3v4Zm0,7H7V17H3v4ZM3,7H7V3H3V7Zm14,7h4V10H17v4ZM17,3V7h4V3H17ZM10,7h4V3H10V7Zm7,14h4V17H17v4Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>
          </h2>
          <div class="dropdown nav-item__dropdown">
            <h3>
              Visit more LinkedIn products
            </h3>
            <ul>
              <li>
                <a href="/?trk=d_sales2_nav_applauncher">
                  <span class="product-logo">
                    <li-icon aria-hidden="true" type="app-linkedin-bug-color-icon"><svg viewBox="0 0 40 40" width="40px" height="40px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="app-icon" style="fill: currentColor">
        <g>
          <path style="fill:#0077B5;" d="M34.5,3H5.6C4.2,3,3,4.1,3,5.4v29.1C3,35.9,4.2,37,5.6,37h29C35.9,37,37,35.9,37,34.6V5.4C37,4.1,35.9,3,34.5,3z"></path>
          <path style="fill:#FFFFFF;" d="M8,16h5v16H8V16z"></path>
          <path style="fill:#FFFFFF;" d="M16,16h4.8v2.4c0.6-1.3,2.5-2.6,4.9-2.6c4.7,0,6.3,2.1,6.3,7.2V32h-5v-8c0-2.7-0.5-4.1-2.5-4.1c-2.6,0-3.5,2-3.5,4.1V32h-5V16z"></path>
          <circle style="fill:#FFFFFF;" cx="10.5" cy="10.5" r="3.05"></circle>
        </g>
      </g>
    </svg></li-icon>
                  </span>
                  <span class="product-name">
                    LinkedIn
                  </span>
                </a>
              </li>
<!---->              <li>
                <a href="/ad/start?trk=d_sales2_nav_applauncher">
                  <span class="product-logo">
                    <li-icon aria-hidden="true" type="app-ads-icon"><svg viewBox="0 0 40 40" width="40px" height="40px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="app-icon" style="fill: currentColor">
        <defs>
          <linearGradient id="hg3" x1="34.78" y1="3.84" x2="14.66" y2="25.84" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#665ed0"></stop>
            <stop offset="1" stop-color="#0073b1"></stop>
          </linearGradient>
        </defs>
        <g>
          <path d="M20,11.88A8.13,8.13,0,1,1,11.88,20,8.13,8.13,0,0,1,20,11.88M20,9A11,11,0,1,0,31,20,11,11,0,0,0,20,9h0Z" style="fill: url(#hg3)"></path>
          <circle cx="20" cy="20" r="4" style="fill: url(#hg3)"></circle>
        </g>
        <circle cx="20" cy="20" r="2" transform="translate(-8.28 20) rotate(-45)" style="fill: #33aada"></circle>
        <rect x="20.83" y="13.17" width="4" height="8" transform="translate(18.83 -11.11) rotate(45)" style="fill: #33aada"></rect>
        <polygon points="29.19 16.46 24.24 15.76 23.54 10.81 28.48 5.86 29 11 34.14 11.52 29.19 16.46" style="fill: #33aada"></polygon>
      </g>
    </svg></li-icon>
                  </span>
                  <span class="product-name">
                    Advertise
                  </span>
                </a>
              </li>
              <li>
                <a href="/learning/?trk=d_sales2_nav_applauncher">
                  <span class="product-logo">
                    <li-icon aria-hidden="true" type="app-learning-icon"><svg viewBox="0 0 40 40" width="40px" height="40px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="app-icon" style="fill: currentColor">
        <defs>
          <linearGradient id="hg22" x1="7.18" y1="6.98" x2="13.8" y2="20.22" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#33aada"></stop>
            <stop offset="1" stop-color="#0091ca"></stop>
          </linearGradient>
          <linearGradient id="hg23" x1="12.96" y1="-17.55" x2="27.9" y2="24.33" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#665ed0"></stop>
            <stop offset="1" stop-color="#0073b1"></stop>
          </linearGradient>
        </defs>
        <path d="M20,30H8a1,1,0,0,1-1-1V11a1,1,0,0,1,1-1H20V30Z" style="fill: url(#hg22)"></path>
        <path d="M20,10H32a1,1,0,0,1,1,1V29a1,1,0,0,1-1,1H20a0,0,0,0,1,0,0V10A0,0,0,0,1,20,10Z" style="fill: url(#hg23)"></path>
        <rect x="9" y="19" width="8" height="2" style="fill: #33aada"></rect>
        <rect x="9" y="23" width="8" height="2" style="fill: #33aada"></rect>
        <rect x="9" y="15" width="8" height="2" style="fill: #33aada"></rect>
        <rect x="23" y="19" width="8" height="2" style="fill: #006097"></rect>
        <rect x="23" y="23" width="8" height="2" style="fill: #006097"></rect>
        <rect x="23" y="15" width="8" height="2" style="fill: #006097"></rect>
        <path d="M17.41,15.25l7.46,4.52a0.27,0.27,0,0,1,0,.46l-7.46,4.52A0.27,0.27,0,0,1,17,24.52v-9A0.27,0.27,0,0,1,17.41,15.25Z" style="fill: #fff"></path>
      </g>
    </svg></li-icon>
                  </span>
                  <span class="product-name">
                    Learning
                  </span>
                </a>
              </li>
              <li>
                <a href="/mjobs/jobPosting/learnMore?trk=d_sales2_nav_applauncher">
                  <span class="product-logo">
                    <li-icon aria-hidden="true" type="app-jobs-posting-icon"><svg viewBox="0 0 40 40" width="40px" height="40px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="app-icon" style="fill: currentColor">
        <defs>
          <linearGradient id="hg19" x1="-6.68" y1="-1" x2="25.05" y2="26.36" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#665ed0"></stop>
            <stop offset="1" stop-color="#0073b1"></stop>
          </linearGradient>
        </defs>
        <line x1="20" y1="8.67" x2="16" y2="15.33" style="fill: none;stroke: #caedff;stroke-miterlimit: 10;stroke-width: 2px"></line>
        <line x1="20" y1="8.67" x2="24" y2="15.33" style="fill: none;stroke: #caedff;stroke-miterlimit: 10;stroke-width: 2px"></line>
        <rect x="8" y="14" width="24" height="16" rx="1" ry="1" style="fill: url(#hg19)"></rect>
        <rect x="12" y="18" width="16" height="3" style="fill: #65c3e8"></rect>
        <rect x="15" y="23" width="10" height="3" style="fill: #33aada"></rect>
        <circle cx="20" cy="9" r="2" style="fill: #65c3e8"></circle>
      </g>
    </svg></li-icon>
                  </span>
                  <span class="product-name">
                    Post a job
                  </span>
                </a>
              </li>
              <li>
                <a href="/groups?trk=d_sales2_nav_applauncher">
                  <span class="product-logo">
                    <li-icon aria-hidden="true" type="app-groups-icon"><svg viewBox="0 0 40 40" width="40px" height="40px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="app-icon" style="fill: currentColor">
        <defs>
          <clipPath id="hg15">
            <path d="M18.17,9.15a11,11,0,0,0-7.76,16.23l-2,5.6a0.47,0.47,0,0,0,.63.59l5.21-2.23A11,11,0,1,0,18.17,9.15Z" style="fill: none"></path>
          </clipPath>
          <linearGradient id="hg16" x1="1.84" y1="-24.59" x2="20.66" y2="25.05" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#665ed0"></stop>
            <stop offset="1" stop-color="#0073b1"></stop>
          </linearGradient>
        </defs>
        <path d="M18.17,9.15a11,11,0,0,0-7.76,16.23l-2,5.6a0.47,0.47,0,0,0,.63.59l5.21-2.23A11,11,0,1,0,18.17,9.15Z" style="fill: #caedff"></path>
        <circle cx="29" cy="16" r="3" style="fill: #0091ca"></circle>
        <circle cx="11" cy="16" r="3" style="fill: #0091ca"></circle>
        <g style="clip-path: url(#hg15)">
          <path d="M20,18a4,4,0,1,1,4-4A4,4,0,0,1,20,18Zm3,2H17V36h6V20Z" style="fill: url(#hg16)"></path>
          <rect x="26" y="21" width="6" height="14" style="fill: #0091ca"></rect>
          <rect x="8" y="21" width="6" height="14" style="fill: #0091ca"></rect>
        </g>
      </g>
    </svg></li-icon>
                  </span>
                  <span class="product-name">
                    Groups
                  </span>
                </a>
              </li>
              <li>
                <a href="/profinder?trk=d_sales2_nav_applauncher">
                  <span class="product-logo">
                    <li-icon aria-hidden="true" type="app-profinder-icon"><svg viewBox="0 0 40 40" width="40px" height="40px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="app-icon" style="fill: currentColor">
        <circle cx="20" cy="12" r="4" style="fill: #0073b1"></circle>
        <path d="M31.88,13.46L16.17,29.17,18,31A1.37,1.37,0,0,0,20,31L34.71,16.29a1.13,1.13,0,0,0,.29-0.8,0.89,0.89,0,0,0-.29-0.61L33.3,13.46A1,1,0,0,0,31.88,13.46Z" style="fill: #0091ca"></path>
        <path d="M21.83,29.17L20,31a1.35,1.35,0,0,1-1,.4,1.36,1.36,0,0,1-1-.4L9.29,22.29a1,1,0,0,1,0-1.41l1.41-1.41a1.07,1.07,0,0,1,.76-0.29,0.94,0.94,0,0,1,.65.29Z" style="fill: #33aada;opacity: 0.8"></path>
        <polygon points="19 26.34 23 22.34 23 18 17 18 17 24.34 19 26.34" style="fill: #0073b1"></polygon>
      </g>
    </svg></li-icon>
                  </span>
                  <span class="product-name">
                    ProFinder
                  </span>
                </a>
              </li>
              <li>
                <a href="/salary?trk=d_sales2_nav_applauncher">
                  <span class="product-logo">
                    <li-icon aria-hidden="true" type="app-salary-icon"><svg viewBox="0 0 40 40" width="40px" height="40px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="app-icon" style="fill: currentColor">
        <g id="Salary_App_Icon_1_">
          <g>
            <rect x="7" y="27" style="fill-rule:evenodd;clip-rule:evenodd;fill:#0084BF;" width="26" height="2"></rect>
            <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#33AADA;" d="M31,32H9c-1.1,0-2-0.9-2-2v0h26v0C33,31.1,32.1,32,31,32z"></path>
            <g>
              <linearGradient id="hg33" gradientUnits="userSpaceOnUse" x1="21.8265" y1="19.1212" x2="16.7278" y2="13.1997">
                <stop offset="0" style="stop-color:#1074AF"></stop>
                <stop offset="1" style="stop-color:#5251C0"></stop>
              </linearGradient>
              <circle style="fill-rule:evenodd;clip-rule:evenodd;fill:url(#hg33);" cx="20" cy="17" r="5"></circle>
              <linearGradient id="hg34" gradientUnits="userSpaceOnUse" x1="25.44" y1="23.3179" x2="10.2541" y2="5.6813">
                <stop offset="0" style="stop-color:#1074AF"></stop>
                <stop offset="1" style="stop-color:#5251C0"></stop>
              </linearGradient>
              <path style="fill-rule:evenodd;clip-rule:evenodd;fill:url(#hg34);" d="M32,8H8C7.4,8,7,8.4,7,9v16c0,0.6,0.4,1,1,1h24c0.6,0,1-0.4,1-1V9C33,8.4,32.6,8,32,8z M31,20c-1.9,0.7-3.3,2.2-4,4H13c-0.7-1.9-2.2-3.3-4-4V14c1.9-0.7,3.3-2.2,4-4H27c0.7,1.9,2.2,3.3,4,4V20z"></path>
            </g>
          </g>
        </g>
        <g>
          <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#0084BF;" d="M16.5,20.5c2,2,5.1,2,7.1,0c2-2,2-5.1,0-7.1L16.5,20.5z"></path>
        </g>
      </g>
    </svg></li-icon>
                  </span>
                  <span class="product-name">
                    Salary
                  </span>
                </a>
              </li>
              <li>
                <a href="https://www.slideshare.net/?trk=d_sales2_nav_applauncher">
                  <span class="product-logo">
                    <li-icon aria-hidden="true" type="app-slideshare-icon"><svg viewBox="0 0 40 40" width="40px" height="40px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
      <g class="app-icon" style="fill: currentColor">
        <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#CAEDFF;" d="M18,24.1h4h0.9c4.2,0,9.5-1,12.1-1.6V11c0-1.7-1.3-3-3-3H8c-1.7,0-3,1.3-3,3v11.5c2.6,0.6,7.9,1.6,12.1,1.6H18z"></path>
        <circle style="fill-rule:evenodd;clip-rule:evenodd;fill:#0091CA;" cx="13" cy="17" r="4"></circle>
        <linearGradient id="hg36" gradientUnits="userSpaceOnUse" x1="25.2828" y1="11.5146" x2="30.3518" y2="27.7071">
          <stop offset="0" style="stop-color:#665ED0"></stop>
          <stop offset="1" style="stop-color:#0073B1"></stop>
        </linearGradient>
        <circle style="fill-rule:evenodd;clip-rule:evenodd;fill:url(#hg36);" cx="27" cy="17" r="4"></circle>
        <g>
          <path style="fill:#2569B4;" d="M37.4,25l-0.6-2c-0.2-0.5-0.7-0.8-1.2-0.7c-1.9,0.4-6.5,1.4-10.7,1.7v4.9c0,0.8-0.4,1.4-1,1.8V33c0,0.6,0.4,1,1,1h5c0.6,0,1-0.4,1-1v-5.7c2.4-0.4,4.5-0.7,5.7-1C37.3,26.2,37.6,25.6,37.4,25z"></path>
        </g>
        <path style="fill:#0091CA;" d="M22,24.1h-4.9c-4.6,0-10.6-1.2-12.8-1.7c-0.5-0.1-1,0.2-1.2,0.7l-0.6,2c-0.2,0.6,0.2,1.2,0.8,1.3c1.2,0.2,3.3,0.6,5.7,1V33c0,0.6,0.4,1,1,1h5c0.6,0,1-0.4,1-1v-5c0.4,0,0.8,0,1.1,0H22c0.6,0,1-0.4,1-1v-1.9C23,24.5,22.6,24.1,22,24.1z"></path>
      </g>
    </svg></li-icon>
                  </span>
                  <span class="product-name">
                    SlideShare
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>

  </div>
</div>



  <div class="navbar-search">
    <div class="container">


      <section class="nav-search">
        <h2 class="a11y-text">
          Search
        </h2>
        <form id="nav-search-form" name="globalNavSearch" action="https://www.linkedin.com/sales/search?trk=nav_search" role="search" data-lead-builder-clean-up="true" data-open-link-in-results="true" data-recent-searches-enabled="true" data-exclude-leads-enabled="true" data-states-typeahead-enabled="true" data-galene-search-enabled="true" data-admin-sync-enabled="true" data-company-pivot-page-enabled="true" data-search-v3-enabled="true" class="nav-search-form inverse-form">
          <button name="cancel" aria-label="Cancel search" class="nav-search-cancel" data-ember-action="" data-ember-action-785="785">
            <li-icon aria-hidden="true" type="arrow-left-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M2,12a1,1,0,0,1,.29-0.71L10.59,3l1.29,1.29L5.17,11H21v2H5.17l6.71,6.71L10.59,21,2.29,12.71A1,1,0,0,1,2,12Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>
            Cancel
          </button>
          <fieldset>
            <label for="nav-search-input" class="a11y-text">
              Search by keywords or boolean
            </label>
            <li-icon aria-hidden="true" type="search-icon" class="search-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21,19.67l-5.44-5.44a7,7,0,1,0-1.33,1.33L19.67,21ZM10,15.13A5.13,5.13,0,1,1,15.13,10,5.13,5.13,0,0,1,10,15.13Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>
<div id="ember788" class="nav-search-typeahead-component ember-view"><!----><div id="ember793" class="nav-search-typeahead-component__typeahead nav-search-typeahead nav-search-typeahead--rounded ember-view"><div class="ui-dope-typeahead-input-container nav-search-typeahead__visible">
  <input name="keywords" type="text" autocomplete="off" spellcheck="false" placeholder="Search by keywords or boolean" id="typeahead-input-ember793" class="nav-search-typeahead__input ember-text-field ember-view">
</div>

<!----></div></div>            <input name="trk" type="hidden" value="lss-nav-typeahead" id="ember799" class="ember-text-field ember-view">
            <input name="updateHistory" type="hidden" value="false" id="ember800" class="ember-text-field ember-view">
          </fieldset>
          <button name="search" type="submit" aria-label="Search" class="nav-search-submit icon-search">
            <span>
              Search
            </span>
          </button>
        </form>
        <div class="nav-advanced-search">
          
<div class="advanced global-nav-list-item">
  <button type="button" class="global-nav-advanced-button">
    Advanced
  </button>
  <div class="dropdown">
    <ul>
        <li>
<a href="/sales/search/people?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D&amp;viewAllFilters=true" id="ember801" class="ember-view">            Search for leads
</a>        </li>
        <li>
<a href="/sales/search/company?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D&amp;viewAllFilters=true" id="ember809" class="ember-view">            Search for accounts
</a>        </li>
    </ul>
  </div>
</div>
        </div>
      </section>


      <section class="nav-saved-searches">
        <h2 class="dropdown-label">
          Saved Searches
        </h2>
<!---->        <div class="dropdown nav-item__dropdown">
          <h3 class="dropdown-heading">
            Saved Searches
            –
            <button class="trigger-saved-searches" data-ember-action="" data-ember-action-817="817">
              Edit
            </button>
          </h3>
              <ul class="saved-searches-list">
                  <li>
<a href="/sales/search/people?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D&amp;savedSearchId=302460003" id="ember1003" class="saved-searches-list__link ember-view">                          <div class="flex">
                            <div class="nowrap-ellipsis">
                              USA_software delopment_cambridge massachusets
                            </div>
                          </div>
</a>                  </li>
              </ul>
        </div>
      </section>
      
<div id="ember822" class="saved-search-modal ember-view"><!----></div>
    </div>
  </div>

<!---->

<div class="global-nav-search-dimmer"></div>
</header>

    <div class="navbar-help">
      <div id="ember825" class="global-nav-help-container ember-view">
<h3 class="hide-a11y">Help links</h3>

<button aria-hidden="true" class="global-nav-help-button" data-ember-action="" data-ember-action-826="826">
  <li-icon aria-hidden="true" type="question-pebble-icon" class="global-nav-help-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10c5.5,0,10-4.5,10-10S17.5,2,12,2zM12,20.2c-4.5,0-8.2-3.7-8.2-8.2S7.5,3.8,12,3.8c4.5,0,8.2,3.7,8.2,8.2S16.5,20.2,12,20.2zM11,16h2v2h-2V16zM16,9.3V10c0,1.7-1.3,2.9-3,2.9V14h-2v-1c0-1.1,0.9-2,2-2h0.3c0.5,0,0.9-0.4,0.9-0.9v-1.3c0-0.5-0.4-0.9-0.9-0.9h-2.6c-0.5,0-0.9,0.4-0.9,0.9V10H8V9.3C8,7.5,9.5,6,11.3,6h1.5C14.5,6,16,7.5,16,9.3z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>
  <span class="global-nav-help-text">Help</span>
  <li-icon aria-hidden="true" type="cancel-icon" class="global-nav-close-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M13,4.32L9.31,8,13,11.69,11.69,13,8,9.31,4.31,13,3,11.69,6.69,8,3,4.31,4.31,3,8,6.69,11.68,3Z" class="small-icon" style="fill-opacity: 1"></path></svg></li-icon>
</button>

<nav class="global-nav-help-wrapper">
  <ul role="menu" class="global-nav-help-list">

<!---->
    <li role="menuitem" class="global-nav-help-item">
      <a href="/sales/training?trk=d_sales2_nav_helpwidget&amp;lang=en" target="_blank" rel="noopener noreferrer">
        <button class="global-nav-help-link">
          Learning Center
        </button>
      </a>
    </li>

    <li role="menuitem" class="global-nav-help-item">
      <a href="/help/sales-navigator/?trk=d_sales2_nav_helpwidget&amp;lang=en" target="_blank" rel="noopener noreferrer">
        <button class="global-nav-help-link">
          Help Center
        </button>
      </a>
    </li>

  </ul>
</nav>
</div>
    </div>

    <main id="content-main" class="content-main company desktop">
      

  <div class="header-wrapper">
    <header class="top-card">
<div id="ember846" class="entity-card nav company ember-view">        <div class="nav-container">
          <div id="ember849" class="avatar inline-table ember-view"><img src="https://media.licdn.com/dms/image/C4E0BAQH25nx4ugnF0g/company-logo_100_100/0?e=1550102400&amp;v=beta&amp;t=9vpBeoj2CDSu8Q4fh2nmYt7zOpa4Ryfg-Xa2DECyM44" class="entity-image entity-size-2 company " alt="MedXview Inc.’s logo">
</div>
          <div class="content-container">
<h1 id="ember854" class="flex align-items-center title ember-view">              MedXview Inc.

</h1>          </div>
          <div class="right actions-container">
<div id="ember859" class="ember-view">                  <button class="ad small-secondary-button">
                    Save
                  </button>

</div>          </div>
        </div>

</div>      <div class="entity-card company banner">
        <div class="flex flex-column align-items-center">
          <div id="ember860" class="avatar ember-view"><img src="https://media.licdn.com/dms/image/C4E0BAQH25nx4ugnF0g/company-logo_100_100/0?e=1550102400&amp;v=beta&amp;t=9vpBeoj2CDSu8Q4fh2nmYt7zOpa4Ryfg-Xa2DECyM44" class="entity-image entity-size-6 company " alt="MedXview Inc.’s logo">
</div>
          <div id="ember863" class="company-topcard__relationship-meter ember-view"><!----></div>
        </div>
        <div class="content-container">
          <div class="flex align-items-center mb1">
            <h1 class="title inline-block">
              MedXview Inc.
            </h1>

<!---->          </div>

            <div class="modal-description-wrapper">
              <h2 role="link" data-control-name="topcard_companyDescription" class="subtitle">
                <div id="ember868" class="ember-view">As Experts in Regulatory Affairs Systems…<span class="description-see-more"><a class="topcard-see-more-link">See all</a></span></div>
              </h2>
<!---->            </div>

          <p class="muted-copy Sans-14px-black-60%">
            Computer Software
              · Greater Boston Area
              · 11-50 employees
<!---->          </p>

          <span class="cta-link">

              <span class="facepile-container">
                    <img src="https://media.licdn.com/dms/image/C5603AQHB8ZMqg_W27w/profile-displayphoto-shrink_800_800/0?e=1547683200&amp;v=beta&amp;t=YOc_DgnZymkcKjXxSnhE8Rs93FFzHl5hY3nUm8_sFHA" class="ghost-person circle-facepile" alt="">
                    <img src="https://media.licdn.com/dms/image/C5603AQHSbi416P2S3w/profile-displayphoto-shrink_800_800/0?e=1547683200&amp;v=beta&amp;t=x4KsbdAYqNc0Yt_pbykTXEXq9SG6ozuMs1gQzVVOq0o" class="ghost-person circle-facepile" alt="">
              </span>

<a data-control-name="topcard_employees" href="/sales/search/people/list/employees-for-account/937548?_ntb=oYA76G0eRDSp780tmRnPPg%3D%3D" id="ember875" class="ember-view">                7 employees on LinkedIn
</a>          </span>

          <div class="mt4">
            <ul class="flex flex-wrap list-style-none">
<!---->
<li id="ember885" class="inline-flex mt2 ml1 pb1 ember-view">
                <button data-control-name="topcard_addTag" class="topcard__add-button t-14 t-bold t-black--light button--unstyled">
                  <li-icon aria-hidden="true" type="plus-icon" class="vertical-align-text-bottom" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M14,9H9v5H7V9H2V7H7V2H9V7h5V9Z" class="small-icon" style="fill-opacity: 1"></path></svg></li-icon>
                  Add Tag
                </button>

<!---->
</li>            </ul>

<div id="ember886" class="ember-view"><!----></div>          </div>
        </div>

        <div class="right actions-container mt1">
          <div class="company-topcard-actions flex align-items-center">
              <div id="ember891" class="save-button-banner ember-view">  <button data-control-name="topcard_saveAccount" class="button-secondary-large" data-ember-action="" data-ember-action-892="892">Save</button>
</div>

            <div class="company-topcard-actions__overflow relative ml1">
              <button class="company-topcard-actions__overflow-toggle button-round-tertiary-medium-muted" data-ember-action="" data-ember-action-893="893">
                <li-icon aria-hidden="true" type="ellipsis-horizontal-icon" class="topcard-actions__overflow-icon vertical-align-middle"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M2,10H6v4H2V10Zm8,4h4V10H10v4Zm8-4v4h4V10H18Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>
              </button>
              <div class="hidden">
                <ul class="company-topcard-actions__overflow-dropdown artdeco-dropdown text-align-left full-width list-style-none">
                  <li>
                    <a href="#" class="add-note-overflow company-topcard-actions__overflow-item link-without-visited-state Sans-14px-black-90%-bold block p2" data-ember-action="" data-ember-action-894="894">
                      Add note
                    </a>
                  </li>

<!---->
                  <li>
                    <a href="#" class="view-linkedin-overflow company-topcard-actions__overflow-item link-without-visited-state Sans-14px-black-90%-bold block p2" data-ember-action="" data-ember-action-895="895">
                      View on LinkedIn.com
                    </a>
                  </li>

                  <li>
                    <a href="#" class="copy-linkedin-overflow company-topcard-actions__overflow-item link-without-visited-state Sans-14px-black-90%-bold block p2" data-ember-action="" data-ember-action-896="896">
                      Copy LinkedIn.com URL
                    </a>
                  </li>
<!---->                </ul>
              </div>
            </div>
          </div>

          <div class="meta-links">

              <div class="topcard-hovercard-meta-links">

<a data-control-name="topcard_website" rel="noopener noreferrer" target="_blank" href="http://www.MedXview.com" id="ember905" class="meta-link website ember-view">                  <li-icon aria-hidden="true" type="link-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M11,2a3,3,0,0,0-2.1.87L6.87,4.94a2.93,2.93,0,0,0-.72,1.21,2.93,2.93,0,0,0-1.21.72L2.87,8.94a3,3,0,1,0,4.19,4.19l2.07-2.07a2.93,2.93,0,0,0,.72-1.21,2.93,2.93,0,0,0,1.21-.72l2.07-2.07A3,3,0,0,0,11,2ZM5.83,11.89a1.22,1.22,0,0,1-1.72-1.72L6.17,8.11l0,0A3,3,0,0,0,7.91,9.8l0,0Zm6.07-6.07L9.83,7.89l0,0A3,3,0,0,0,8.09,6.2l0,0,2.07-2.07A1.22,1.22,0,0,1,11.89,5.83Z" class="small-icon" style="fill-opacity: 1"></path></svg></li-icon>Website
</a>
                <div role="tooltip" id="hovercard-web-link" class="hovercard">
<a rel="noopener noreferrer" target="_blank" href="http://www.MedXview.com" id="ember906" class="ember-view">                    www.MedXview.com
</a>                </div>

              </div>

              <div class="topcard-hovercard-meta-links">
<a data-control-name="topcard_headquarters" rel="noopener noreferrer" target="_blank" href="https://www.google.com/maps/place/+02138+United+States" id="ember911" class="meta-link headquarters ember-view">                  <li-icon aria-hidden="true" type="map-marker-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M8,4a2,2,0,1,0,2,2A2,2,0,0,0,8,4ZM8,7.13A1.13,1.13,0,1,1,9.13,6,1.13,1.13,0,0,1,8,7.13ZM8,1A5,5,0,0,0,3,6a5.37,5.37,0,0,0,.41,2S5.91,13,7.22,15.52A0.86,0.86,0,0,0,8,16H8a0.86,0.86,0,0,0,.78-0.48C10.09,13,12.59,8,12.59,8A5.37,5.37,0,0,0,13,6,5,5,0,0,0,8,1Zm2.88,6.24L8,12.92,5.12,7.24A3.49,3.49,0,0,1,4.88,6a3.13,3.13,0,0,1,6.25,0A3.49,3.49,0,0,1,10.88,7.24Z" class="small-icon" style="fill-opacity: 1"></path></svg></li-icon>Headquarters
</a>                <div role="tooltip" id="hovercard-hq-link" class="hovercard">
                  <a href="https://www.google.com/maps/place/+02138+United+States" target="_blank" rel="noopener">
                    , 02138<br>United States
                  </a>
                </div>
              </div>
          </div>

          <button data-control-name="topcard_addNote" class="add-note topcard__add-button t-14 t-bold t-black--light" data-ember-action="" data-ember-action-912="912">
            <li-icon aria-hidden="true" type="sticky-note-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M2,3V13a1,1,0,0,0,1,1h7.13L14,10.1V3a1,1,0,0,0-1-1H3A1,1,0,0,0,2,3ZM4,4h8V9H9v3H4V4Z" class="small-icon" style="fill-opacity: 1"></path></svg></li-icon>
            Add Note
          </button>
<!---->        </div>
      </div>
    </header>

    <nav class="content-tabs">
<artdeco-tabs size="15px" id="ember915" class="ember-view"><div class="artdeco-scrolling-container"><button data-direction="previous" aria-hidden="true" tabindex="-1" class="artdeco-transport artdeco-transport-hidden" style="height: 63px; display: none;"><li-icon aria-hidden="true" type="chevron-left-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M7,8l4,5.9L9.5,15,5.3,8.8a1.22,1.22,0,0,1,0-1.6L9.5,1,11,2.1Z" class="small-icon" style="fill-opacity: 1"></path></svg></li-icon></button><button data-direction="next" aria-hidden="true" tabindex="-1" class="artdeco-transport artdeco-transport-hidden" style="height: 63px; display: none;"><li-icon aria-hidden="true" type="chevron-right-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M9,8L5,2.07,6.54,1l4.2,6.15a1.5,1.5,0,0,1,0,1.69L6.54,15,5,13.93Z" class="small-icon" style="fill-opacity: 1"></path></svg></li-icon></button><artdeco-tablist aria-multiselectable="false" id="ember922" role="tablist" class="ember-view" style="width: auto;">          <artdeco-tab aria-selected="true" aria-expanded="true" id="ember927" role="tab" class="active ember-view" tabindex="0" selected="selected">People</artdeco-tab>
          <artdeco-tab aria-selected="false" aria-expanded="false" id="ember928" role="tab" class="ember-view">News &amp; Insights</artdeco-tab>
</artdeco-tablist></div></artdeco-tabs>    </nav>

  </div>

  <section class="content">
    <h1 class="hide-a11y">People</h1>
<ul class="people-primary-flow-container">
  <li>
    <!---->
  </li>
  <li>
<div style="" id="ember934" class="deferred-area ember-view">         <div class="module-container">
  <section class="recommended-leads-module">
<!---->      <div class="recommended-leads-container">
        <header>
          <h1 class="title">Recommended leads</h1>
        </header>
<artdeco-dropdown aria-expanded="false" id="ember1008" class="sales-preferences-dropdown ember-view"><artdeco-dropdown-trigger role="button" placement="bottom" id="ember1013" class="sales-preferences-dropdown-trigger ember-view" tabindex="0">            Based on your sales preferences

<!----></artdeco-dropdown-trigger><artdeco-dropdown-content arrow-dir="left" placement="bottom" data-dropdown="" tabindex="-1" aria-hidden="true" id="ember1018" class="sales-preferences-dropdown-menu artdeco-dropdown-with-arrow ember-view"><artdeco-dropdown-header id="ember1025" class="sales-preferences-dropdown-menu-header ember-view">              <p>
                    Recommended leads are based on <span class="i18n-sales-preferences-highlight">0 geographies, 5 industries, 9 company sizes, 8 functions.</span>
              </p>

</artdeco-dropdown-header>            <ul>
              <li>
<artdeco-dropdown-item role="button" data-dropdown="" id="ember1028" class="sales-preferences-dropdown-menu-actions ember-view">                  <a href="/sales/settings" class="sales-settings-link">
                    Edit your sales preferences
                  </a>

</artdeco-dropdown-item>              </li>
            </ul>

</artdeco-dropdown-content></artdeco-dropdown>        <div class="spotlights">
          <ul class="spotlights-horizontal-menu">
              <li class="spotlights-horizontal-menu-li active">
                <a role="link" data-control-name="recommendedLeads_spotlight_total" class="spotlights-horizontal-menu-li-link" data-ember-action="" data-ember-action-1030="1030">
                  <span class="spotlight-count">1</span> Total results
                </a>
              </li>
          </ul>
<!---->        </div>
        <div class="results-container">
<div id="ember1044" class="ember-view">                    <div class="recommended-lead-card entity-card card person">
<!---->                      <div class="result-card-content">
                        <div class="profile-container">
                          <div class="profile-image-container">
<a href="/sales/people/ACwAAAaOHpkB21ms4Y9XM8ZuVSZa-ZBZmoE5sF0,NAME_SEARCH,OmNg" id="ember1066" class="avatar-link ember-view">                                  <figure id="ember1077" class="ember-view"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="entity-image entity-size-4 person  ghost-person" alt="Joktan Davis’ picture">
</figure>

</a>                          </div>
                          <div class="profile-content">
                            <dl>
                              <dt class="title truncated-name-with-degree">
<a data-control-name="recommendedLeads_viewLead" href="/sales/people/ACwAAAaOHpkB21ms4Y9XM8ZuVSZa-ZBZmoE5sF0,NAME_SEARCH,OmNg" id="ember1079" class="title truncated-name-with-degree__name ember-view">                                      Joktan Davis

</a>                                  <span class="degree truncated-name-with-degree__degree">
                                    ·&nbsp;
                                  </span>
                              </dt>
                              <dd class="subtitle">
                                Sr. Software Engineer
                              </dd>
                              <dd class="muted-copy">
                                
                              </dd>
                              <dd class="muted-copy">
                                Beijing City, China
                              </dd>
                            </dl>
                          </div>
                        </div>
<!---->                      </div>
                      <div class="recommended-leads-result-card-actions">
                          <div id="ember1082" class="ember-view">  <button data-control-name="recommendedLeads_saveLead" class="button-secondary-large" data-ember-action="" data-ember-action-1083="1083">Save</button>
</div>
                      </div>
                    </div>

</div><!---->
        </div>
      </div>
  </section>
</div>


</div>  </li>
  <li>
<div style="" id="ember935" class="deferred-area ember-view">         <div class="best-path-in module-container">
  <section class="container">
        <div class="empty-best-path-in-container">
          <header class="best-path-in-header">
            <h1>Your connections into MedXview Inc.</h1>
          </header>
          <div class="empty-best-path-in-content">
            <figure>
              <div class="empty-best-path-in-illustration"></div>
              <figcaption>
                Looks like you and your team don’t have any connections into this company.
              </figcaption>
            </figure>
<a href="https://www.linkedin.com/sales/search?pivotType=EMPLOYEE&amp;pivotId=937548" id="ember1087" class="medium-secondary-button ember-view">              View all employees (7)
</a>          </div>
        </div>
  </section>
</div>


</div>  </li>
</ul>

<div id="ember936" class="ember-view"><!----></div>
<div id="ember937" class="ember-view"><!----></div>
  </section>

<div id="ember938" class="ember-view"><div id="ember1092" class="ember-view"></div></div>
<!---->
<div id="ember939" class="ember-view"><!----></div>
<!---->
    </main>


<div id="ember946" class="msg-overlay-container ember-view">
<!---->

<div id="ember951" class="ember-view"><!----></div></div>
<!---->
  <artdeco-toasts id="artdeco-toasts-outlet" class="artdeco-toasts ember-view"><div id="ember959" class="ember-view"><ul class="artdeco-toasts-container" data-ember-action="" data-ember-action-960="960" data-ember-action-961="961">
<!----></ul>
</div></artdeco-toasts>

  <div id="carousels-hovercard" class="magic-popup carousels-hovercard"></div>

  <div id="tags-notes-popup" class="magic-popup tags-notes-popup"></div>

  <div id="notes-popup" class="magic-popup notes-popup"></div>


  <div id="ui-modal-outlet"></div>
  <div id="artdeco-hoverable-outlet"></div>
  <div id="alerts-hoverable-outlet" class="alerts-hoverable-outlet"></div>

  <div id="ember970" class="entity-hovercard-container hidden ember-view"><div role="tooltip" tabindex="-1" class="entity-hovercard  ">


    <section class="entity-hovercard__loading-state p4">
      Loading…
    </section>

  
</div>
</div>
  <div id="ember973" class="ember-view"><!----></div>
</div>